<div class="h-screen flex justify-center items-center bg-primary-100">
  <form [formGroup]="loginFormGroup" autocomplete="off">
    <h1 class="" font="noto-medium" class="mb-4 text-3xl font-bold text-center">
      file manager
    </h1>
    <ul class="list-none text-center">
      <li class="">
        <mat-form-field class="w-80">
          <mat-label font="noto-medium">帳號</mat-label>
          <input formControlName="userAccount" matInput />
          <mat-error>
            <ng-container *ngIf="
                loginFormGroup.controls['userAccount'].hasError('required')
              ">
              該欄位必填
            </ng-container>
          </mat-error>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field class="w-80">
          <mat-label font="noto-medium">密碼</mat-label>
          <input formControlName="password" matInput autocomplete="on"
            [type]="isLoginPasswordHide ? 'password' : 'text'" (keyup.enter)="LoginUI()" />
          <button type="button" mat-icon-button matSuffix (click)="isLoginPasswordHide = !isLoginPasswordHide">
            <mat-icon>{{
              isLoginPasswordHide ? "visibility_off" : "visibility"
              }}</mat-icon>
          </button>
          <mat-error>
            <ng-container *ngIf="
                loginFormGroup.controls['userAccount'].hasError('required')
              ">
              該欄位必填
            </ng-container>
          </mat-error>
        </mat-form-field>
      </li>
    </ul>
    <div class="text-center">
      <button mat-fab class="hover:opacity-80" color="primary" font="noto-regular" type="submit"
        (click)="LoginUI(); (false)">
        <mat-icon>
          login
        </mat-icon>
      </button>
    </div>
  </form>
</div>
